html,
body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.login-container {
  width: 400px;
  margin-top: 20px;
}

.tasks {
  height: 60vh;
}

.new-task {
  height: 40vh;
  margin-top: -5vh;
}

